
.dark-mode .App {
  background-color: #282c34;
  color: white;
}

.dark-mode .App-header {
  background-color: #20232a;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.dark-mode .App-header nav a {
  color: #61dafb;
}

.dark-mode h1 {
  color: #61dafb;
}

.dark-mode nav {
  background: #20232a;
  border-right: 1px solid #444;
}

.dark-mode nav a {
  color: #61dafb;
}

.dark-mode button {
    background-color: #61dafb;
    color: #20232a;
}

.dark-mode .App-logo {
  filter: invert(1);
}
